body
{
    background-color: black;
    color: ghostwhite;
    font: bold 14px arial, verdana;
}

h1 {
    text-align: center;
    font-size: 300%;
}

li a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#Link {
    border-radius: 20px;
    background-color: white;
    margin: 25px;
    padding: 20px;
    text-align: center;
}

#home {
    float: left;
    width: 25%;
    height: 50px;
}

#about {
    float: left;
    width: 25%;
    height: 50px;
}

#projects {
    float: left;
    width: 25%;
    height: 50px;
}

#skills {
    float: left;
    width: 25%;
    height: 50px;
}